<hr>
<footer>
	<div class="d-flex mt-2">
		{% if site.github_repo_url != nil %}
		<p class="text-small text-grey-dk-000 mb-0"><a href="{{ site.github_repo_url }}" target="_blank">View in GitHub</a></p>
		{% endif %}
		{% if site.github_repo_url == nil and site.footer_content != nil %}
		<p class="text-small text-grey-dk-000 mb-0">{{ site.footer_content }}</p>
		{% endif %}
		
		
		<p class="text-small" id="last-updated">Loading last updated date...</p>
	</div>
</footer>

<script>
	document.addEventListener('DOMContentLoaded', function () {
			const repoOwner = "{{ site.github.owner_name }}";
			const repoName = "{{ site.github.repository_name }}";

			async function showLastUpdated(owner, repo) {
					const url = `https://api.github.com/repos/${owner}/${repo}/commits?per_page=1`;
					try {
							const response = await fetch(url);
							if (!response.ok) throw new Error(`HTTP error! Status: ${response.status}`);
							const data = await response.json();
							const isoDate = data[0].commit.committer.date;
							const date = new Date(isoDate);
							const options = { year: 'numeric', month: 'short', day: 'numeric' };
							const formattedDate = date.toLocaleDateString(undefined, options);
							document.getElementById("last-updated").textContent = `Repository last updated ${formattedDate}`;
						} catch (error) {
								console.error('Failed to fetch last commit date:', error);
								document.getElementById("last-updated").textContent = ``;
							}
				}

			showLastUpdated(repoOwner, repoName);
		});
</script>
